.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.869629;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.915527;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.795410;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.910645;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.913574;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.861816;font-style:normal;font-weight:normal;visibility:visible;}
.m2{transform:matrix(0.236033,0.000000,-0.082391,0.236033,0,0);-ms-transform:matrix(0.236033,0.000000,-0.082391,0.236033,0,0);-webkit-transform:matrix(0.236033,0.000000,-0.082391,0.236033,0,0);}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls2{letter-spacing:-6.397404px;}
.ls0{letter-spacing:-6.040000px;}
.ls1{letter-spacing:-0.040000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1{width:1.423902px;}
._0{width:44.872212px;}
.fc4{color:rgb(0,0,255);}
.fc0{color:rgb(255,254,255);}
.fc5{color:rgb(69,69,69);}
.fc1{color:rgb(120,195,13);}
.fc2{color:rgb(255,255,255);}
.fc3{color:rgb(0,0,0);}
.fs4{font-size:52.000000px;}
.fs5{font-size:56.000000px;}
.fs3{font-size:59.200001px;}
.fs1{font-size:72.000000px;}
.fs7{font-size:80.000000px;}
.fs2{font-size:160.000000px;}
.fs6{font-size:169.467644px;}
.fs0{font-size:216.000000px;}
.y0{bottom:0.000000px;}
.y28{bottom:29.395170px;}
.y27{bottom:46.195171px;}
.y14{bottom:134.818207px;}
.y33{bottom:139.444199px;}
.y26{bottom:142.647797px;}
.y13{bottom:151.978210px;}
.y3c{bottom:152.228443px;}
.y32{bottom:161.044205px;}
.y25{bottom:161.367828px;}
.y4{bottom:171.815842px;}
.y3b{bottom:173.828442px;}
.y12{bottom:174.128204px;}
.y31{bottom:182.644211px;}
.y24{bottom:185.077789px;}
.y3{bottom:193.415840px;}
.y3a{bottom:195.428440px;}
.y11{bottom:196.278229px;}
.y30{bottom:204.244202px;}
.y23{bottom:208.787781px;}
.y17{bottom:209.880356px;}
.y2{bottom:215.015841px;}
.y10{bottom:218.428223px;}
.y2f{bottom:225.844208px;}
.y6{bottom:227.064178px;}
.y22{bottom:232.497787px;}
.yf{bottom:235.588226px;}
.y2e{bottom:247.444202px;}
.y1{bottom:250.308731px;}
.y16{bottom:250.680359px;}
.y2b{bottom:251.773987px;}
.y39{bottom:254.700882px;}
.y21{bottom:256.207794px;}
.ye{bottom:257.738235px;}
.y5{bottom:267.864182px;}
.y38{bottom:276.300888px;}
.yd{bottom:279.888245px;}
.y20{bottom:279.917801px;}
.y2a{bottom:290.173981px;}
.y15{bottom:291.480362px;}
.y37{bottom:297.900883px;}
.yc{bottom:302.038239px;}
.y1f{bottom:308.647797px;}
.y36{bottom:319.500881px;}
.yb{bottom:324.188232px;}
.y1e{bottom:327.367798px;}
.y29{bottom:328.573990px;}
.y35{bottom:341.100880px;}
.ya{bottom:346.338226px;}
.y1d{bottom:351.077812px;}
.y9{bottom:368.488235px;}
.y1c{bottom:369.797813px;}
.y1b{bottom:388.517815px;}
.y8{bottom:390.638229px;}
.y2d{bottom:403.988598px;}
.y1a{bottom:407.237816px;}
.y7{bottom:407.798233px;}
.y34{bottom:419.059464px;}
.y19{bottom:425.957817px;}
.y2c{bottom:444.788599px;}
.y18{bottom:449.667820px;}
.h5{height:35.927734px;}
.h6{height:36.029297px;}
.h7{height:38.691406px;}
.h4{height:46.365626px;}
.h2{height:49.886719px;}
.h9{height:55.429688px;}
.h3{height:110.625000px;}
.h8{height:115.847022px;}
.h1{height:149.343750px;}
.h0{height:540.000000px;}
.w0{width:960.000000px;}
.x0{left:0.000000px;}
.x12{left:49.152740px;}
.x5{left:53.996529px;}
.x17{left:132.926605px;}
.x19{left:137.916702px;}
.x16{left:139.259262px;}
.x18{left:146.554169px;}
.x2{left:157.977142px;}
.xd{left:162.953583px;}
.x3{left:166.522583px;}
.xb{left:177.023422px;}
.xc{left:218.612801px;}
.x4{left:234.257736px;}
.x15{left:283.435425px;}
.x14{left:285.713867px;}
.x6{left:324.478237px;}
.x7{left:342.449890px;}
.x8{left:360.478237px;}
.x20{left:362.858276px;}
.x9{left:396.478241px;}
.xe{left:399.599941px;}
.x1{left:400.993958px;}
.xa{left:414.449890px;}
.xf{left:435.599941px;}
.x10{left:453.571594px;}
.x11{left:471.599945px;}
.x21{left:508.422058px;}
.x1c{left:563.914719px;}
.x1d{left:568.567581px;}
.x1e{left:580.149734px;}
.x1a{left:586.282303px;}
.x1b{left:598.347260px;}
.x13{left:612.538574px;}
.x1f{left:635.421509px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls2{letter-spacing:-8.529871pt;}
.ls0{letter-spacing:-8.053333pt;}
.ls1{letter-spacing:-0.053333pt;}
.ws0{word-spacing:0.000000pt;}
._1{width:1.898536pt;}
._0{width:59.829615pt;}
.fs4{font-size:69.333333pt;}
.fs5{font-size:74.666667pt;}
.fs3{font-size:78.933334pt;}
.fs1{font-size:96.000000pt;}
.fs7{font-size:106.666667pt;}
.fs2{font-size:213.333333pt;}
.fs6{font-size:225.956858pt;}
.fs0{font-size:288.000000pt;}
.y0{bottom:0.000000pt;}
.y28{bottom:39.193560pt;}
.y27{bottom:61.593562pt;}
.y14{bottom:179.757609pt;}
.y33{bottom:185.925598pt;}
.y26{bottom:190.197062pt;}
.y13{bottom:202.637614pt;}
.y3c{bottom:202.971258pt;}
.y32{bottom:214.725606pt;}
.y25{bottom:215.157104pt;}
.y4{bottom:229.087789pt;}
.y3b{bottom:231.771255pt;}
.y12{bottom:232.170939pt;}
.y31{bottom:243.525614pt;}
.y24{bottom:246.770386pt;}
.y3{bottom:257.887787pt;}
.y3a{bottom:260.571253pt;}
.y11{bottom:261.704305pt;}
.y30{bottom:272.325602pt;}
.y23{bottom:278.383708pt;}
.y17{bottom:279.840474pt;}
.y2{bottom:286.687787pt;}
.y10{bottom:291.237630pt;}
.y2f{bottom:301.125610pt;}
.y6{bottom:302.752238pt;}
.y22{bottom:309.997050pt;}
.yf{bottom:314.117635pt;}
.y2e{bottom:329.925603pt;}
.y1{bottom:333.744975pt;}
.y16{bottom:334.240479pt;}
.y2b{bottom:335.698649pt;}
.y39{bottom:339.601176pt;}
.y21{bottom:341.610392pt;}
.ye{bottom:343.650981pt;}
.y5{bottom:357.152242pt;}
.y38{bottom:368.401184pt;}
.yd{bottom:373.184326pt;}
.y20{bottom:373.223735pt;}
.y2a{bottom:386.898641pt;}
.y15{bottom:388.640483pt;}
.y37{bottom:397.201177pt;}
.yc{bottom:402.717651pt;}
.y1f{bottom:411.530396pt;}
.y36{bottom:426.001175pt;}
.yb{bottom:432.250977pt;}
.y1e{bottom:436.490397pt;}
.y29{bottom:438.098653pt;}
.y35{bottom:454.801173pt;}
.ya{bottom:461.784302pt;}
.y1d{bottom:468.103750pt;}
.y9{bottom:491.317647pt;}
.y1c{bottom:493.063751pt;}
.y1b{bottom:518.023753pt;}
.y8{bottom:520.850972pt;}
.y2d{bottom:538.651464pt;}
.y1a{bottom:542.983754pt;}
.y7{bottom:543.730977pt;}
.y34{bottom:558.745951pt;}
.y19{bottom:567.943756pt;}
.y2c{bottom:593.051465pt;}
.y18{bottom:599.557093pt;}
.h5{height:47.903646pt;}
.h6{height:48.039062pt;}
.h7{height:51.588542pt;}
.h4{height:61.820834pt;}
.h2{height:66.515625pt;}
.h9{height:73.906250pt;}
.h3{height:147.500000pt;}
.h8{height:154.462696pt;}
.h1{height:199.125000pt;}
.h0{height:720.000000pt;}
.w0{width:1280.000000pt;}
.x0{left:0.000000pt;}
.x12{left:65.536987pt;}
.x5{left:71.995372pt;}
.x17{left:177.235474pt;}
.x19{left:183.888936pt;}
.x16{left:185.679016pt;}
.x18{left:195.405558pt;}
.x2{left:210.636190pt;}
.xd{left:217.271444pt;}
.x3{left:222.030111pt;}
.xb{left:236.031230pt;}
.xc{left:291.483734pt;}
.x4{left:312.343648pt;}
.x15{left:377.913900pt;}
.x14{left:380.951823pt;}
.x6{left:432.637650pt;}
.x7{left:456.599854pt;}
.x8{left:480.637650pt;}
.x20{left:483.811035pt;}
.x9{left:528.637655pt;}
.xe{left:532.799922pt;}
.x1{left:534.658610pt;}
.xa{left:552.599854pt;}
.xf{left:580.799922pt;}
.x10{left:604.762126pt;}
.x11{left:628.799927pt;}
.x21{left:677.896077pt;}
.x1c{left:751.886292pt;}
.x1d{left:758.090108pt;}
.x1e{left:773.532979pt;}
.x1a{left:781.709737pt;}
.x1b{left:797.796346pt;}
.x13{left:816.718099pt;}
.x1f{left:847.228678pt;}
}
